.container-profile {
  max-width: 600px;
  margin: 0 auto;
  padding: 200px 0;
}

.profile-info {
  margin: 20px 0;
  padding: 15px;
  background: white;
  border-radius: 5px;
}

.logout-button {
  background: #ff4d4d;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.logout-button:hover {
  background: #ff3333;
}

.modal.show .modal-content {
  color: black;
}

.modal-title {
  color: black;
}