* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.1s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background-color: #ffffff;
    color: #000000;
}

body.dark {
    background-color: #1a1a1a;
    color: #ffffff;
}

body.dark .text-section {
    color: #ffffff;
}

body.dark .header {
    background-color: #2c3e50;
    color: white;
}

body.dark .footer {
    background-color: #2c3e50;
    color: #ffffff;
}